/*.game-card {
    overflow: hidden;
    width: 184px;
    /*height: 10rem;*/
/*    margin-right: 25px;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.game-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

*/
*, *:before, *:after {
    box-sizing: border-box;
}

.game-card {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    width: 300px;
    display: inline-block;
    margin: 1em;
    border-radius: 5px;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    position: relative;
    min-height: 300px;
}

.game-card figure {
    width: 100%;
    height: 71%;
    padding: 0;
    margin: 0;
}


.game-card figcaption {
    margin: 5px;
}


.gradient {
    background-image:
        linear-gradient(
                top,
                white,
                rgb(231, 231, 231) 80%,
                #c4c4c4 100%
        );
}

.game-card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    border-color: black;
    display: block;
}

.clash-card__unit-name {
    padding: 20px;
    font-size: 15px;
    color: black;
    font-weight: 900;
    margin-bottom: 10px;
    line-height: 120%;
}

.one-third {
    border-right: 1px solid black;
}

.clash-card__unit-stats {
    position: absolute;
    bottom: 0;
    left: 0%;
    right: 0;
    color: black;
    font-weight: 300;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
.clash-card__unit-stats .one-third {
    width: 33%;
    float: left;
    padding: 15px 20px;
}
.clash-card__unit-stats sup {
    position: absolute;
    bottom: 4px;
    font-size: 45%;
    margin-left: 2px;
}
.clash-card__unit-stats .stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
}
.clash-card__unit-stats .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}
.clash-card__unit-stats .no-border {
    border-right: none;
}
